@import '../../variables';

blockquote {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  @include marginless;
  
  @include wide {
    @include marginless;
    width: auto;
    left: 40px;
  }
}

pre {
  @include marginless;
  @include container;
  @include font-styles;
  white-space: pre-wrap;

  @include wide {
    @include marginless;
  }
}