@import '../../variables';

blockquote {
  @include marginless;
  width: 100%;

  @include wide {
    @include marginless;
    width: auto;
  }
}

pre {
  @include marginless;
  @include font-styles;
  white-space: pre-wrap;

  border-left: $border-width solid $color-main;
  padding-left: $spacing;

  @include wide {
    @include marginless;
    width: 100%;
    padding-left: $spacing-big;
  }
}