@import '../../variables';

.next-date {
  @include font-styles;
  display: flex;
  margin-top: $spacing;

  @include wide {
    margin-left: $spacing-big;
    margin-top: 0;
  }

  &__accent {
    @include accent;
  }
}