@import '../../variables';

.footer {
  @include container;
  @include font-styles;
  display: flex;
  padding: $spacing-mini 0;
  margin-top: $spacing-mini;

  @include wide {
    justify-content: center;
  }

  &__accent {
    @include accent;
  }

  &__text {
    @include selection;
  }
}