@import 'variables';

.app {
  @include container;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include wide {
    flex-direction: row;
    align-items: center;
  }
}